<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>poly.controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <display-name>ASS_PD10302</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VideoController</display-name>
    <servlet-name>VideoController</servlet-name>
    <servlet-class>poly.controller.VideoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoController</servlet-name>
    <url-pattern>/VideoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>poly.controller.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>poly.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trangchu</display-name>
    <servlet-name>Trangchu</servlet-name>
    <servlet-class>poly.controller.Trangchu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trangchu</servlet-name>
    <url-pattern>/Trangchu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSevrlet</display-name>
    <servlet-name>LoginSevrlet</servlet-name>
    <servlet-class>poly.controller.LoginSevrlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSevrlet</servlet-name>
    <url-pattern>/LoginSevrlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DangKyController</display-name>
    <servlet-name>DangKyController</servlet-name>
    <servlet-class>poly.controller.DangKyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DangKyController</servlet-name>
    <url-pattern>/DangKyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>poly.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuenMKController</display-name>
    <servlet-name>QuenMKController</servlet-name>
    <servlet-class>poly.controller.QuenMKController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuenMKController</servlet-name>
    <url-pattern>/QuenMKController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiMKControllee</display-name>
    <servlet-name>DoiMKControllee</servlet-name>
    <servlet-class>poly.controller.DoiMKControllee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiMKControllee</servlet-name>
    <url-pattern>/DoiMKControllee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>poly.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChiTietController</display-name>
    <servlet-name>ChiTietController</servlet-name>
    <servlet-class>poly.controller.ChiTietController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChiTietController</servlet-name>
    <url-pattern>/ChiTietController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Like</display-name>
    <servlet-name>Like</servlet-name>
    <servlet-class>poly.controller.Like</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Like</servlet-name>
    <url-pattern>/Like</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeController</display-name>
    <servlet-name>LikeController</servlet-name>
    <servlet-class>poly.controller.LikeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeController</servlet-name>
    <url-pattern>/LikeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeVideoServlet</display-name>
    <servlet-name>LikeVideoServlet</servlet-name>
    <servlet-class>poly.controller.LikeVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeVideoServlet</servlet-name>
    <url-pattern>/LikeVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>poly.controller.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnlikeServlet</display-name>
    <servlet-name>UnlikeServlet</servlet-name>
    <servlet-class>poly.controller.UnlikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnlikeServlet</servlet-name>
    <url-pattern>/UnlikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFavoriteServlet</display-name>
    <servlet-name>MyFavoriteServlet</servlet-name>
    <servlet-class>poly.controller.MyFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFavoriteServlet</servlet-name>
    <url-pattern>/MyFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLikesServlet</display-name>
    <servlet-name>CheckLikesServlet</servlet-name>
    <servlet-class>poly.controller.CheckLikesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLikesServlet</servlet-name>
    <url-pattern>/CheckLikesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLikes</display-name>
    <servlet-name>CheckLikes</servlet-name>
    <servlet-class>poly.controller.CheckLikes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLikes</servlet-name>
    <url-pattern>/CheckLikes</url-pattern>
  </servlet-mapping>
</web-app>